@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Readex Pro", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
